<table>
  <tr>
    <td style="padding-right:10px;"><a href="{% url main %}">Anasayfa</a></td>
    <td style="padding-right:10px;"><a href="{% url active-match-list %}">Maçlar</a></td>
    <td style="padding-right:10px;"><a href="{% url email-options %}">Email Secenekleri</a></td>
    {% if request.user.is_superuser %}
    <td style="padding-right:10px;"><a href="{% url create-match %}">Maç Ekle</a></td>
    {% endif %}
    <td style="padding-right:10px;"><a href="{% url hadimac-logout %}">Çıkış</a></td>
  </tr>
</table>

<br /><br />
