{% include "head.html" %}
<body>
{% include "menu.html" %}

<span style="font-weight:bold; text-decoration:underline;">Aktif Maçlar</span>
<br /><br />

  {% if active_matches %}
  <table border = 1>
    <tr>
      <th>Zaman</th>
      <th>Gün</th>
      <th>Saat</th>
      <th>Mekan</th>
      <th>Katılımcı Sayısı</th>
      <th>İşlemler</th>
    </tr>
    {% for match in active_matches %}
    <tr>
      <td>{{match.occured_at.date}}</td>
      <td>{{match.humanized_day}}</td>
      <td>{{match.occured_at|date:"H:i"}}</td>
      <td><a href="{% url attendees match.id %}">{{match.place}}</a></td>
      <td>{{match.number_of_att}}/{{match.stack}}</td>

      <td>
	{% if not match.is_old %}
	    {% if not match.is_attended %}
	    <form action="{% url attend match.id %}" method="POST">
	    {{teamform.as_p}}
	    <p><input type="submit" value="Katıl"/> </p>
	    </form>
	    {% else %}
	    <a href="{% url leave-match match.id %}">Katılamayacağım</a>
	    {% endif %}
	{% else %}
	    <form action="{% url enter-match-score match.id %}" method="POST">
	    {{scoreform.as_p}}
	    <p><input type="submit" value="Kaydet"/> </p>
	    </form>
	{% endif %}
      </td>

    </tr>
    {% endfor %}
  </table>
  {% endif %}

<br /><br />

<span style="font-weight:bold; text-decoration:underline;">Geçmiş Maçlar</span>
<br /><br />

  {% if passive_matches %}
  <table border = 1>
    <tr>
      <th>Zaman</th>
      <th>Gün</th>
      <th>Saat</th>
      <th>Mekan</th>
      <th>Katılımcı Sayısı</th>
    </tr>
    {% for match in passive_matches %}
    <tr>
      <td>{{match.occured_at.date}}</td>
      <td>{{match.humanized_day}}</td>
      <td>{{match.occured_at|date:"H:i"}}</td>
      <td><a href="{% url attendees match.id %}">{{match.place}}</a></td>
      <td>{{match.number_of_att}}/{{match.stack}}</td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}

</body>
</html>
