{% extends "base.html" %}
{% block content %}
    {% if score %}
    <div style="border:2px solid #000; width:160px; position:relative; margin:auto; text-align:center; padding-top:20px;">
    <span style="font-weight:bold;">Maç Sonucu</span>
    <h1>{{score.0.home_score}} - {{score.0.away_score}}</h1>
    </div>
    {% endif %}

    <table width="100%">
      <tr>
				<td width="50%">
				  <span style="font-weight:bold; font-size:20px; color:{{match.home_team.color}};">{{match.home_team.name}}</span>
				</td>
				<td width="50%">
				  <span style="font-weight:bold; font-size:20px; color:{{match.away_team.color}};">{{match.away_team.name}}</span>
				</td>
      </tr>
      <tr>
	<td>
	  <div id="home_region" style="position:relative;height:500px;">
	    <img width="300" src="/site_media/img/pitch.png" style="position:absolute;" />
	    <ol id="home_team" class="ulist">
	      {% for player in home_players %}
	      <li id="home_{{forloop.counter}}">{{player.attendee.get_full_name}}</li>
	      {% endfor %}
	    </ol>
	  </div>
	</td>
	<td>
	  <div id="away_region" style="position:relative;height:500px;">
	    <img width="300" src="/site_media/img/pitch.png" style="position:absolute;" />
	    <ol id="away_team" class="ulist">
	      {% for player in away_players %}
	      <li id="away_{{forloop.counter}}">{{player.attendee.get_full_name}}</li>
	      {% endfor %}
	    </ol>
	  </div>
	</td>
      </tr>
    </table>
<p align="center"><input type="button" id="yerlesim" value="Yerleşimi Kaydet" /></p>

    {% if comments %}
    <br /><br />
    <span style="font-weight:bold;">Yorumlar</span>

    {% for comment in comments %}
    <table id="{{comment.pk}}">
      <tr>
	<td><i>{{comment.user.get_full_name}}</i></td>
      </tr>
      <tr>
	<td><span style="font-weight:bold;">{{comment.title}}</span>  {{comment.created_at|date:"d-m-y H:i"}}</td>
      </tr>
      <tr>
	<td>{{comment.content}}</td>
      </tr>
    </table>
    <hr />
    {% endfor %}
    {% endif %}
    
    
    <span style="font-weight:bold;">Yorum Ekle</span>
    <p>&nbsp;</p>
    <form action="{% url add-comment match.pk %}" method="POST">
      <table>
	<tr>
	  <td>Başlık:</td>
	  <td><input type="text" name="title" style="width:400px;" /></td>
	</tr>
	<tr>
	  <td>İçerik:</td>
	  <td><textarea name="content" style="width:400px; height: 120px;"></textarea></td>
	</tr>
	<tr>
	  <td colspan="2" style="text-align:center;"><input type="submit" value="Gönder" /></td>
	</tr>
      </table>
    </form>
<script src="/site_media/js/utilities.js" ></script>
<script src="/site_media/js/dragdrop-min.js" ></script>
<script src="/site_media/js/selector-min.js" ></script>
<script src="/site_media/js/json-min.js" ></script>
<script type="text/javascript">
(function() {
var $E=YAHOO.util.Event;
var $D=YAHOO.util.Dom;
var select=YAHOO.util.Selector.query;

YAHOO.example.DDRegion = function(id, sGroup, config) {
  this.cont = config.cont;
  YAHOO.example.DDRegion.superclass.constructor.apply(this, arguments);
};

YAHOO.extend(YAHOO.example.DDRegion, YAHOO.util.DD, {
  cont: null,
  init: function() {
    //Call the parent's init method
    YAHOO.example.DDRegion.superclass.init.apply(this, arguments);
    this.initConstraints();

    $E.on(window, 'resize', function() {
      this.initConstraints();
    }, this, true);
  },
  initConstraints: function() {
    var region = $D.getRegion(this.cont);
    var el = this.getEl();
    
    var xy = $D.getXY(el);
    var el_reg = $D.getRegion(el);
    var width = parseInt(el_reg.right-el_reg.left, 10);
    var height = parseInt(el_reg.bottom-el_reg.top, 10);
    var left = xy[0] - region.left;
    var right = region.right - xy[0] - width - 34;
    var top = xy[1] - region.top;
    var bottom = region.bottom - xy[1] - height;
    
    this.setXConstraint(left, right);
    this.setYConstraint(top, bottom);
  }
});

$E.onDOMReady(function() {
  var home = select("li", "home_team");
  var away = select("li", "away_team");
  var home_team = [];
  var away_team = [];
  for(var i=0;i<home.length;i++) {
  	{% ifequal users_team "home"  %}
    home_team[i] = new YAHOO.example.DDRegion(home[i].id, 'home', { cont: 'home_region' });
    {% endifequal %}
  }
  for(var i=0;i<away.length;i++) {
  	{% ifequal users_team "away" %}
    away_team[i] = new YAHOO.example.DDRegion(away[i].id, 'away', { cont: 'away_region' });
    {% endifequal %}
  }
});

$E.on('yerlesim', 'click', function() {
  save_formation();
});
$E.on(select('ol.ulist li'), 'mousedown', function(e) {
	$E.preventDefault(e);
	return false;
});
$E.on(select('ol.ulist li'), 'selectstart', function(e) {
	$E.preventDefault(e);
	return false;
});
var do_formation = function(formation) {
  var f = YAHOO.lang.JSON.parse(formation);
  for(var i=0;i<f.length;i++) {
    $D.setStyle(f[i].id, 'left', f[i].left);
    $D.setStyle(f[i].id, 'top', f[i].top);
  }
}

var save_formation = function() {
  var players = select("ol.ulist li");
  var formation = [];
  for(var i=0;i<players.length;i++) {
    formation[i] = {
      id:players[i].id,
      left:$D.getStyle(players[i], 'left'),
      top:$D.getStyle(players[i], 'top')
    }
  }
  var transaction = YAHOO.util.Connect.asyncRequest('POST', window.location.href, {
    success: function(o) {
    },
    failure: function(o) {
    }
  }, "formation="+YAHOO.lang.JSON.stringify(formation));
}
{% if match.formation %}
do_formation('{{match.formation|safe}}');
{% endif %}
})();
</script>
{% endblock %}
