{% include "head.html" %}
<body>
{% include "menu.html" %}

<h2>Hoş Geldiniz</h2>

<script type="text/javascript" src="/site_media/js/ac.js"></script>

<script language="JavaScript" type="text/javascript">
      	AC_FL_RunContent(
      		'codebase', 'http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,0,0',
      		'width', '450', //BURASI
      		'height', '300',//BURASI
      		'src', '/site_media/flash/mandelbrot',//BURASI
      		'quality', 'high',
      		'pluginspage', 'http://www.adobe.com/go/getflashplayer',
      		'align', 'middle',
      		'play', 'true',
      		'loop', 'true',
      		'scale', 'showall',
      		'wmode', 'transparent',
      		'devicefont', 'false',
      		'id', 'mandelbrot',//BURASI
      		'bgcolor', '#00a8e1',//BURASI
      		'name', 'mandelbrot',//BURASI
      		'menu', 'true',
      		'allowFullScreen', 'false',
      		'allowScriptAccess','sameDomain',
      		'movie', '/site_media/flash/mandelbrot',//BURASI
      		'salign', ''
      		); //end AC code
      </script>

</body>
</html>
